[View in Colaboratory](https://colab.research.google.com/github/aishasonkar/ML_ON12/blob/master/15th_assignment.ipynb)

In [0]:
import pandas as pd
import numpy as np

###  Perform the following: Q.1- Import the libraries and dataset. Print the head and shape of dataset.###

In [0]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data')

In [6]:
df

     B  1  1.1  1.2  1.3
0    R  1    1    1    2
1    R  1    1    1    3
2    R  1    1    1    4
3    R  1    1    1    5
4    R  1    1    2    1
5    R  1    1    2    2
6    R  1    1    2    3
7    R  1    1    2    4
8    R  1    1    2    5
9    R  1    1    3    1
10   R  1    1    3    2
11   R  1    1    3    3
12   R  1    1    3    4
13   R  1    1    3    5
14   R  1    1    4    1
15   R  1    1    4    2
16   R  1    1    4    3
17   R  1    1    4    4
18   R  1    1    4    5
19   R  1    1    5    1
20   R  1    1    5    2
21   R  1    1    5    3
22   R  1    1    5    4
23   R  1    1    5    5
24   L  1    2    1    1
25   B  1    2    1    2
26   R  1    2    1    3
27   R  1    2    1    4
28   R  1    2    1    5
29   B  1    2    2    1
..  .. ..  ...  ...  ...
594  L  5    4    5    1
595  L  5    4    5    2
596  L  5    4    5    3
597  B  5    4    5    4
598  R  5    4    5    5
599  L  5    5    1    1
600  L  5    5    1    2
601  L  5    5    1    3
602  L  5    5    1    4
603  L  5    5    1    5
604  L  5    5    2    1
605  L  5    5    2    2
606  L  5    5    2    3
607  L  5    5    2    4
608  L  5    5    2    5
609  L  5    5    3    1
610  L  5    5    3    2
611  L  5    5    3    3
612  L  5    5    3    4
613  L  5    5    3    5
614  L  5    5    4    1
615  L  5    5    4    2
616  L  5    5    4    3
617  L  5    5    4    4
618  L  5    5    4    5
619  L  5    5    5    1
620  L  5    5    5    2
621  L  5    5    5    3
622  L  5    5    5    4
623  B  5    5    5    5

[624 rows x 5 columns]

In [7]:
df.head()

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [8]:
df.shape

(624, 5)

###    Q.2- Slice the dataset. Save the first column as y(Target) and rest of the columns as X(Features). ###

In [9]:

from sklearn.cross_validation import train_test_split

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [0]:
X=df.iloc[:,1:]

In [11]:
X

     1  1.1  1.2  1.3
0    1    1    1    2
1    1    1    1    3
2    1    1    1    4
3    1    1    1    5
4    1    1    2    1
5    1    1    2    2
6    1    1    2    3
7    1    1    2    4
8    1    1    2    5
9    1    1    3    1
10   1    1    3    2
11   1    1    3    3
12   1    1    3    4
13   1    1    3    5
14   1    1    4    1
15   1    1    4    2
16   1    1    4    3
17   1    1    4    4
18   1    1    4    5
19   1    1    5    1
20   1    1    5    2
21   1    1    5    3
22   1    1    5    4
23   1    1    5    5
24   1    2    1    1
25   1    2    1    2
26   1    2    1    3
27   1    2    1    4
28   1    2    1    5
29   1    2    2    1
..  ..  ...  ...  ...
594  5    4    5    1
595  5    4    5    2
596  5    4    5    3
597  5    4    5    4
598  5    4    5    5
599  5    5    1    1
600  5    5    1    2
601  5    5    1    3
602  5    5    1    4
603  5    5    1    5
604  5    5    2    1
605  5    5    2    2
606  5    5    2    3
607  5    5    2    4
608  5    5    2    5
609  5    5    3    1
610  5    5    3    2
611  5    5    3    3
612  5    5    3    4
613  5    5    3    5
614  5    5    4    1
615  5    5    4    2
616  5    5    4    3
617  5    5    4    4
618  5    5    4    5
619  5    5    5    1
620  5    5    5    2
621  5    5    5    3
622  5    5    5    4
623  5    5    5    5

[624 rows x 4 columns]

In [0]:

Y=df.iloc[:,0]

### Q.3- Split the dataset by using train_test_split(). ###

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=3)

In [0]:

from sklearn.tree import DecisionTreeClassifier

### Q.4- Use DecisionTree with criterion  ###
a. Gini
b. Entropy

In [0]:
tree=DecisionTreeClassifier(criterion='gini')

In [18]:
tree.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
pred=tree.predict(X_test)

###  Print the accuracy score. ##

In [22]:
tree.score(X_test,Y_test)

0.7659574468085106

In [0]:
tree2=DecisionTreeClassifier(criterion='entropy')

In [27]:
tree2.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [31]:
tree2.score(X_test,Y_test)

0.7659574468085106

In [0]:
from sklearn.ensemble import RandomForestClassifier

### Q.5- Use RandomForset with criterion ###
a. Gini
b. Entropy

In [0]:
forest=RandomForestClassifier(criterion='gini')

In [41]:
forest.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

### Print the accuracy score. ###

In [42]:
forest.score(X_test,Y_test)

0.7872340425531915

In [0]:
forest1=RandomForestClassifier(criterion='entropy')

In [44]:
forest1.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [45]:
forest1.score(X_test,Y_test)

0.7872340425531915